{% extends "cursos/menu.html" %}

{% block title %}listado de curso{% endblock %}

{% block content %}


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary">
<div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Cursos disponibles:</h2>
        <p class="lead">Aqui encontrara un listado de cursos disponibles en nuestra institucion, sera para nosotros
          un placer que conosca sobre los cursos que impartimos.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto text-dark" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
          {% if cursos_list %}
          <ul>
              {% for curso in cursos_list %}
              <h3>{{ curso.nombre }}</h3>
              <h6>Fecha de inicio: {{curso.fecha_inicio}}</h6>
              <h6>Fecha de finalizacion: {{curso.fecha_fin}}</h6>
              <p>{{curso.descripcion}}</p>
              {% endfor %}
          </ul>
          {% else %}
          <p>No hay cursos disponibles.</p>

          {% endif %}
      </div>
    </div>
</div>



{% endblock %}