{% extends "cursos/menu.html" %}

{% block title %}listado de curso{% endblock %}

{% block content %}


<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary">
<div class="bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Cursos disponibles:</h2>
        <p class="lead">Aqui encontrara un listado de cursos disponibles en nuestra institucion, sera para nosotros
          un placer que conosca sobre los cursos que impartimos.</p>
      </div>


{% if cursos_list %}
    <div class="accordion" id="accordionExample">
        {% for curso in cursos_list %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{curso.nombre}}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body text-dark">
         <h4 class="text-dark"> {{curso.nombre}}</h4>
          <h5>fecha de inicio: {{curso.fecha_inicio}}</h5>
          <h5>fecha de finalizacion: {{curso.fecha_fin}}</h5>
          <p>{{curso.descripcion}}</p>
      </div>
    </div>
  </div>
         {% endfor %}
   </div>
{% else %}
     <div class="bg-light shadow-sm mx-auto text-dark" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
         <h1>No hay cursos disponibles</h1>
     </div>

{% endif %}



</div>
</div>



{% endblock %}