  <!-- ESTA LINEA DE CODIGO NOS AGREGA EL MENU DE NAVEGACION-->
{% extends "cursos/menu.html" %}

{% load static %}

{% block title %}listado anuncios{% endblock %}

{% block content %}

    


  
  
  <div class="p-3 mb-2 bg-light text-dark">
    <div class="p-3 mb-2 bg-secondary text-white">
        <h1>Casa de la Cultura  y Convivencia de Texistepeque</h1>
        <div class="p-3 mb-2 bg-light text-dark">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'casaCultura.jpg' %}" class="d-block w-100" alt="..." width="400px" height="500px">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'logo.png' %}" class="d-block w-100" alt="..." width="400px" height="500px">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'foto1.jpg' %}" class="d-block w-100" alt="..." width="400px" height="500px">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
      
     </div>

  </div>


  {% if anuncios_list %}

      <br><h2 class="text-center">Anuncios</h2><br>
  {% for anuncio in anuncios_list %}


           <hr class="featurette-divider">

    <div class="row featurette p-3 mb-2 bg-dark text-white">
      <div class="col-md-7">
        <h2 class="featurette-heading">{{ anuncio.encabezado }} <span class="text-muted"> </span></h2>
          <p class="lead">Fecha de publicación:{{anuncio.fecha_publicacion}}</p>
        <p class="lead">{{anuncio.texto}}</p>
      </div>
      <div class="col-md-5">

        <img src="{{anuncio.imagen.url}} " class="card-img-top" alt="...">

      </div>
    </div>

          {% endfor %}

        {% else %}
   <div class="row featurette p-3 mb-2 bg-dark text-white">
      <div class="col-md-7">
        <h2 class="featurette-heading">NO HAY PUBLICACIONES...<span class="text-muted"> </span></h2>

      </div>

      
        {% endif %}

 
    
{% endblock %}
