<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inscripciones</title>
</head>
<body>
  <!-- ESTA LINEA DE CODIGO NOS AGREGA EL MENU DE NAVEGACION-->
    {% include "cursos/menu.html" %}

  <h1>INSCRIBETE EN NUESTROS CURSOS</h1>
<label for="Name">Nombres</label>
<input type="text" id=Name" name="Name" />
  <br>
   <br>

<label for="Name">apellidos</label>
<input type="text" id="Name" name="Name" />
 <br>
   <br>

  <label for="Name">Direccion</label>
<input type="text" id="Name name=Name" />
 <br>
   <br>
  <label for="Name">Telefono</label>
<input type="text" id="Name name="Name />
 <br>
   <br>
<select name="OS">
   <option value="1">Genero</option>
   <option value="2">Hombre</option>
   <option value="3">Mujer</option>
    <option value="4">LGTB</option>
</select>

  <br>
   <br>
 <label for="num">Correo Electronico</label>
<input type="text" id="num" num="num" />
  <br>
   <br>
<label for="user">Crea tu Usuario</label>
<input type="text" id="user" user="user" />
  <br>
   <br>
  <label for="pass">Crea tu contraseña</label>
<input type="text" id="pass" pass="pass" />
  <br>
   <br>
<select name="OS">
   <option value="1">Escoje el curso</option>
   <option value="2">Corte y Confeccion</option>
   <option value="3">Estilista</option>
   <option value="4">Florista</option>
   <option value="5">Modista</option>
   <option value="6">manualidades</option>
</select>
</body>
</html>