<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
        <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Quienes Somos</title>
</head>
<body>
  <!-- ESTA LINEA DE CODIGO NOS AGREGA EL MENU DE NAVEGACION-->

    {% extends "cursos/menu.html" %}

    {% block title %}quienesSomos{% endblock %}

    {% block content %}


<div class="titulo" style="background: #1094b6">
 <h1 align="center" style="color: white;" ><br>¡CONÓCENOS!</h1>
<br>
</div>
  <div style="background: white"><br>
<FONT FACE="impact" SIZE=5 COLOR="#0066a1" style="padding-left:20px;"> Un poco de Historia<br></FONT>
      <p style="padding-left:20px;">
<FONT FACE="times new roman" SIZE=4 COLOR="#109fb6" >
    <br> La Red de Casas de la Cultura nació en el año 1973, durante la administración <br>
     presidencial del Coronel Arturo Armando Molina, fuerón fundadas las primeras <br>
     Casas de la Cultura en: Cojutepeque, Usulután, Santiago de María, Sensuntepeque, <br>
     La Unión, Ahuachapán, La Libertad, Col. Zacamil y San Francisco Gotera. <br><br>

</FONT></p>
      <p align="center">
      <FONT FACE="times new roman" SIZE=4 COLOR="#1db4cb" >
          En 1989 se disuelve el Ministerio de Cultura y Comunicaciones, volviendo el <br>
          área cultural al Ministerio de Educación, como parte de ello los Centros de <br>
          Desarrollo Cultural retornan al nombre de Casas de la Cultura. <br>
          El 20 de septiembre de 1991 se crea el Consejo Nacional para la Cultura y el<br>
          Arte (CONCULTURA) bajo el cual, a partir de agosto de 1999, se crea la Dirección<br>
          Nacional de Espacios de Desarrollo Cultural como una respuesta a la demanda de <br>
          servicios culturales y de acuerdo a la nueva visión de trabajo cultural. <br>

          Es así como las Casas de la Cultura pasan a formar parte de esta nueva dirección,<br>
          generando con ello espacios de participación, información, educación y desarrollo cultural.<br><br><br>
      </FONT>
</p>
</div>

<div style="background: #92b0ed" >




    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 style="color:blue" class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <b>VER MÁS</b>
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body" style="background: #07698a">

<h5 style="padding-left:25px; color: #29dbe1" > MISIÓN:</h5>
 <h6 style="padding-left:20px; color: #c5f8fa">   Promover, fortalecer y fomentar la cultura local, a<br>
                                  través de la participación ciudadana, con el fin de<br>
                                  crear espacios para las distintas manifestaciones <br>
                                  culturales, contribuyendo así a la identidad <br>cultural nacional.<br>
</h6>
    <h5 style="padding-left:25px; color: #29dbe1"> <br>VISIÓN:</h5>


<h6 style="padding-left:20px; color: #c5f8fa">    Lograr que cada casa de la cultura llegue a constituirse<br>
                                  en verdaderos espacios culturales que consoliden la <br>
                                  identidad local y nacional, a fin de impulsar el desarrollo<br> nacional.<br>
</h6>


                                    <br>
                                </div>
                            </div>
                        </div>
        </div>


</div>


<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
    -->
</body>

</html>
{% endblock %}